/* Default button styles */
.kb-btn-primary {
    background: var(--color-primary);
    font-size: 1.25rem;
    color: var(--color-blue-gray);
    font-weight: 500;
    display: inline-flex;
    border-radius: 32px;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    line-height: 1.2;  
    white-space: nowrap;
  }
  
  /* Responsive Padding */
  @media (min-width: 1024px) {
    .kb-btn-primary  {
      padding: 1rem 2rem;
    }
  }
  